[submodule "libs/c_lib_macro"]
	path = libs/c_lib_macro
	url = https://github.com/seityaya/c_lib_macro.git
[submodule "libs/c_lib_testing"]
	path = libs/c_lib_testing
	url = https://github.com/seityaya//c_lib_testing.git
[submodule "libs/c_lib_memory"]
	path = libs/c_lib_memory
	url = https://github.com/seityaya/c_lib_memory.git
